form {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 30px;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  padding: 10px;
  background-color: #3338;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
