.container {
  display: flex;
  flex-direction: row;
  margin: 150px 5%;
  justify-content: space-between;
}
.heading {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  left: 0;
  color: white;
  text-align: center;
}
